/* 
* ==================================
* Nama  : Ariel Dany Saputra
* Nim   : (******)-075
* ==================================
* Gambar blur dibuat menggunakan figma
* ==================================
* Font Menggunakan Google Font 
* Font: Inter, Poppins
* ==================================
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

body {
    background-color: #000000;
    color: white;
}

.blur-1 {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background-image: url("./blur_ungu_hp.svg");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -99;
}

#side-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000F0;
    height: 100%;
    pointer-events: all;
    z-index: 99;
}

#side-bar ul {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
}

#side-bar li {
    margin: auto;
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    padding: 8px 20px;
    background-color: #A100FF;
    margin-bottom: 8px;
    text-decoration: none;
    list-style: none;
    padding: 13px;
    background-color: #ff00cc10;
    border-radius: 13px;
    border: #FFFFFF15 1px solid;
}

nav {
    display: flex;
    position: sticky;
    align-items: center;
    max-width: 1280px;
    top: 0;
    margin: auto;
    padding: 12px 20px;
    z-index: 999;
}

.flex-menu {
    display: flex;
}

nav .logo {
    flex-grow: 1;
}

.menu-list ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 8px;
}

.menu-list ul li {
    display: inline-block;
    padding: 8px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid 1px rgba(255, 255, 255, 0);
}

.menu-list ul li:hover {
    background-color: #FFFFFF10;
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 13px;
}

header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 90vh;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
}

.judul {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 109%;
    font-size: 18px;
    letter-spacing: -1.5px;
}

.fitur {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    width: fit-content;
    gap: 12px;
    flex-wrap: wrap;
    font-size: 14px;
}

.fitur li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card_filled {
    padding: 7px;
    background-color: #A100FF;
    border-radius: 10px;
    align-content: center;
    display: flex;
}

.text-gray {
    color: #6F6F6F;
}

.second {
    color: #A100FF;
}

.cta {
    display: flex;
    justify-items: center;
    gap: 8px;
    height: 100%;
}

#about {
    padding: 0px 20px;
    position: relative;
    height: fit-content;
}

#services {
    padding: 0px 20px;
    position: relative;
    height: fit-content;
}

#testimoni {
    padding: 0px 20px;
    position: relative;
    height: fit-content;
}

#kontak {
    padding: 0px 20px;
    position: relative;
    height: fit-content;
}

.base-section-ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    width: fit-content;
    gap: 12px;
    flex-wrap: wrap;
}

.card-siluet::after {
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-image: url("blur_putih_card.svg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.05;
    transition: 1s;
}

.siluet-kanan-kiri::after {
    content: '';
    width: 100%;
    height: 100%;
    left: -50%;
    top: 0;
    z-index: -99;
    position: absolute;
    background-image: url("blur_ungu_kiri.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.siluet-kanan-kiri::before {
    content: '';
    width: 100%;
    height: 100%;
    right: -50%;
    top: 0;
    z-index: -99;
    position: absolute;
    background-image: url("blur_ungu_kanan.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.siluet-kanan-kiri {
    position: absolute;
    width: 100%;
    top: 50;
    height: 300vh;
    z-index: -99;
    overflow: hidden;
}

.card-siluet:hover::after {
    transition: 0.6s ease-out;
    opacity: 0.2;
}

.card-siluet {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 18px;
    flex-basis: 280px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.10);
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 13px;
    height: 100%;
}

.base-section-ul li {
    height: fit-content;
}

.base-section-ul li h1 {
    font-size: 18px;
    width: 18px;
    text-align: center;
    padding: 7px;
    background-color: #A100FF;
    border-radius: 10px;
}

.text-sub-title {
    font-size: 18px;
    line-height: 109%;
}

.btn {
    padding: 16px 50px;
    background-color: #FFFFFF;
    color: black;
    border: solid 1px #00000050;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    padding: 16px 50px;
    background-color: #00000010;
    border-radius: 13px;
    border: #FFFFFF15 1px solid;
    color: white;
}

.btn-outline {
    padding: 13px;
    background-color: #FFFFFF10;
    border-radius: 13px;
    border: #FFFFFF15 1px solid;
    cursor: pointer;
}

.btn-outline:hover {
    background-color: #FFFFFF30;
    border: #FFFFFF45 1px solid;
}

.profile {
    width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-image: url("foto.png");
    background-size: cover;
}

.profile1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtwqp8tOIwcnmHB3iUtlk_eoEalMHzHPpReQ&s");
}

.profile2 {
    background-image: url("https://kudos.tv/cdn/shop/files/Mob_Psycho_300x.png?v=1679069332");
}

#testimoni .card-siluet {
    height: 220px;
    padding: 24px;
}

#kontak .base-section-ul {
    width: 100%;
}

#about .base-section-ul {
    width: 100%;
}

#kontak .card-siluet {
    width: 100%;
    flex-grow: 1;
}

#kontak .card-siluet h1 {
    width: fit-content;
    padding: 8px 20px;
    font-size: 14px;
}

.size-6 {
    width: 24px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card_outline {
    width: fit-content;
    padding: 11px 19px;
    font-size: 14px;
    background-color: rgb(21, 21, 21);
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 13px;
    position: relative;
}

.card_outline::after {
    --angle: 0deg;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2px;
    border-radius: 13px;
    z-index: -1;
    background: conic-gradient(from var(--angle), transparent 50%, #A100FF);
    animation: 2s spin ease-in infinite;
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.card_outlined {
    width: fit-content;
    padding: 11px 19px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.10);
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 13px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    nav .logo {
        flex-grow: 0;
    }

    .menu-list ul {
        display: none;
    }

    .blur-1 {
        background-size: cover;
    }
}
.tunjukan {
    display: none;
}
@media screen and (min-width: 768px) {
    .sembunyi {
        display: none;
    }

    .tunjukan {
        display: contents;
    }

    .base-section-ul li {
        height: 150px;
    }

    section {
        max-width: 1080px;
        margin: auto;
    }

    header {
        margin-top: 40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 70vh;
        height: fit-content;
        justify-content: start;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        z-index: 99;
    }

    .center {
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .siluet-kanan-kiri {
        position: absolute;
        width: 100%;
        top: 0;
        height: 200vh;
        z-index: -99;
        overflow: hidden;
    }
}